{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
{% include base_path %}

<!-- start custom head snippets -->
<link rel="apple-touch-icon" href="{{ base_path }}/images/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="16x16"
      href="{{ base_path }}/images/favicon-16x16.png"/>
<link rel="icon" type="image/png" sizes="32x32"
      href="{{ base_path }}/images/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="192x192"
      href="{{ base_path }}/images/android-chrome-192x192.png"/>
<link rel="icon" href="{{ base_path }}/images/favicon.ico"/>
<link rel="manifest" href="{{ base_path }}/images/site.webmanifest"/>
<meta name="theme-color" content="#ffffff"/>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="{{ base_path }}/assets/js/particles-init.js"></script>

<!-- end custom head snippets -->
